/* Dowmload */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    border-radius: 8px;
    border: 1px solid #1173A9;
    padding: 8px 12px;

    color: #1173A9;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;

    background-color: transparent;
    transition: all 0.2s ease;
}

.button:hover {
    background: rgba(45, 145, 201, 0.10);
    color: #2A93CE;
    border: 1px solid #2A93CE;
}

.button:active {
    border: 1px solid #055683;
    background: rgba(5, 86, 131, 0.10);
    color: #055683;
}

.icon {
    display: inline-block;
}